<ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">About Me</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ '/wishlist' | relative_url }}">Wishlist</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ '/backgrounds' | relative_url }}">Backgrounds</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ '/media-gallery' | relative_url }}">Media Gallery</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ '/bidassoa' | relative_url }}">Bidassoa</a></li>
  <li class="nav-item"><a class="nav-link" href="https://books.c238.com.ar/lukas238/" target="_blank">Books</a></li>
</ul>
