@import 'base/variables';
@import 'base/base';
@import 'base/code';
@import 'base/syntax';
@import 'base/pagination';

@import 'layouts/home';
@import 'layouts/portfolio';
@import 'layouts/post';
@import 'layouts/layout';
@import 'layouts/footer';
@import 'layouts/wishlist';
@import 'layouts/media-vault';
@import 'layouts/media-comment-form';
@import 'layouts/gallery';



.f-counter span{
  line-height: 46px !important;
}


.f-carousel__toolbar__column.is-middle{
  opacity: 0;
  transition: opacity .3s ease;
  &:hover{
    opacity: 1;
  }
}
