@import "https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.css";

.gallery {

  &__filterNav {
    margin-bottom: 1.5rem;

    width: 100%;
  }

  &__year {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    // gap: 1.5rem;
    // margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;



    &__header {
      grid-column: 1 / -1;
      /* Span all columns */
      width: 100%;
      margin: 20px 0 10px 0;
      font-size: 1.5rem;
      color: #333;
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;

      a {
        opacity: var(--bs-link-opacity);
      }
    }

  }

  &__item {

    &__cover {
      position: relative;
      overflow: hidden;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
      transition: transform 0.2s ease;
      display: block;
      width: auto; // Se ajusta al contenido
      max-width: 100%; // No excede el grid
      max-height: 400px; // Limita imágenes muy verticales
      margin: 0 auto; // Centra en el grid
      margin-bottom: 0.5rem;

      &:hover {
        transform: scale(1.03);
      }

      &__link{
        position: relative;
        display: block;
        overflow: hidden;
        height: 100%; // Llena el contenedor

        // Borde con gradiente metalizado
        border-width: 6px;
        border-style: solid;
        border-image: linear-gradient(70deg, #c0c0c0, #e8e8e8, #ffffff, #e8e8e8, #c0c0c0) 1;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
        }
      }




      &__img {
        margin: 0;
        width: 100%;
        height: 100%;
        display: block;
      }

    }

    &__title {
      font-style: italic;

      &:not(.--is-alias) {
        text-transform: capitalize;
      }
    }

    &__year {
      font-size: 0.9em;
      color: #999;

      &::before {
        content: " • ";
      }
    }

    &__meta {
      color: #666;

      >li {
        display: inline;
      }
    }

    &__caption {
      text-align: center;

      &__title {
        display: inline;
        font-style: italic;

      }

      &__year {
        display: inline;
        font-size: 0.9em;

        &::before {
          content: " • ";
        }
      }

      &__meta {
        display: none;
        overflow-y: auto;
      }

      &__keywords {
        font-size: 0.9em;
      }
    }

  }

  &__navYears {
    text-align: left;

    h5 {
      border-bottom: 1px solid #ddd;
      text-align: left;
      padding-top: 0.2em;
      padding-bottom: 1.2rem;
    }

    nav {

      ul {
        max-height: calc(100vh - 50px);
        overflow-y: auto;
        font-size: .9rem;
        text-align: left;


        // Dos columnas cuando el listado es muy largo
        @media (min-height: 600px) {
          &:has(li:nth-child(15)) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 5rem;
          }
        }
      }
    }

    a.active {
      font-weight: bold;
      text-decoration: none;
    }
  }

}


.fancybox {
  &__container {
    --right-col-width: 0px;

    &.has-sidebar {
      --right-col-width: clamp(300px, 25vw, 400px);
    }

    >.row {
      display: grid;
      grid-template-columns: minmax(0, 1fr) var(--right-col-width);
      transition: grid-template-columns 0.3s ease-in-out;

      height: 100%;

      >.col {
        display: flex;
        flex-direction: column;
        min-height: 0;

        position: relative;
        overflow: hidden;
      }
    }
  }

  &__sidebar {
    overflow: auto;

    .gallery__item__caption {
      text-align: left;

      &__meta {
        text-align: left;
        display: block;

      }

      &__title {
        font-size: 1.5rem;
        margin-bottom: 0;
        display: block;

        &:not(.--is-alias) {
          text-transform: capitalize;
        }
      }

      &__year {
        font-size: 1.2rem;
        margin-bottom: 0;
        display: block;

        &::before {
          content: "";
        }
      }

      &__notes,
      &__keywords {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 8px;

      }

      &__notes {
        * {
          color: #fff !important;
        }

        max-height: 80%;
        overflow-y: auto;
      }

      &__keywords {
        max-height: 40%;
        overflow-y: auto;

        .badge {
          color: #fff !important;
        }
      }


    }
  }
}
