.m-wishlist {

  &__thumb {
    width: 135px !important;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  &__title a {
    color: inherit !important;
    line-height: 1.2em !important;
    font-size: 0.9em !important;
    font-weight: normal !important;
  }


}
