<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header id="header" class="container-xxl border-bottom  py-4">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
    </header>

    <div class="container-xxl d-flex">
      <aside id="main-sidebar" class="py-4">
        <nav>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}">About Me</a></li>
            <li><a href="{{ 'wishlist' | prepend: site.baseurl }}">Wishlist</a></li>
            <li><a href="{{ 'backgrounds' | prepend: site.baseurl }}">Backgrounds</a></li>
            <li><a href="https://books.c238.com.ar/lukas238/">Books Library</a></li>
          </ul>
        </nav>
      </aside>
      <main id="main-content" class="order-1 py-4">
        {{ content }}
      </main>
    </div>

    <footer class="text-center py-4 border-top">
      <p class="fw-lighter mb-0 fs-5"><em>"Ad astra per aspera"</em></p>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
      </span>
    </footer>
  </body>

</html>
