<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header id="header" class="container-xxl border-bottom py-4 d-flex">

      <!-- Botón toggle solo en mobile -->
      <button class="btn d-md-none px-2 bg-light me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
          <i class="bi bi-list"></i>
      </button>

      <a href="{{ site.baseurl }}/">
        <h2 class="nav-title">{{ site.title }}</h2>
      </a>
    </header>

    <div class="container-xxl d-flex">

        <!-- Sidebar / Offcanvas -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarMenu">
          <div class="offcanvas-header d-md-none">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            {% include main_nav.html %}
          </div>
        </div>

        <!-- Contenido principal -->
        <main id="main-content" class="order-1 py-4 flex-fill">
          {{ content }}
        </main>
    </div>

    {% include foot.html %}
  </body>
</html>
